.johnDeo {
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.johnDeoCardBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
